{{#paper-dialog class="flex-77" onClose=(action "exitDialog" "cancel") origin=dialogOrigin clickOutsideToClose=true}}
  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
      <h2>Lehrveranstaltung <strong>{{course.name}}</strong> löschen?</h2>
      <span class="flex"></span>
      {{#paper-button iconButton=true onClick=(action "exitDialog" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}

  {{#paper-dialog-content}}
    <center>
      <p class="md-warn">ACHTUNG !</p>
      <p> Wollen Sie wirklich <strong>{{course.name}}</strong> löschen? </p>
    </center>
  {{/paper-dialog-content}}
  {{#paper-dialog-actions class="layout-row"}}
    <span class="flex"></span>
    {{#paper-button onClick=(action "exitDialog" "ok")}}OK{{/paper-button}}
    {{#paper-button onClick=(action "exitDialog" "cancel")}}Abbrechen{{/paper-button}}
  {{/paper-dialog-actions}}
{{/paper-dialog}}
{{yield}}
