# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/coverage
/frontend/cypress/screenshots/

# next.js
/frontend/.next/
/frontend/out/

# production
/frontend/build

# misc
.DS_Store
*.pem

# debug
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.pnpm-debug.log*

# local env files
.env*.local

# typescript
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts

# IDE Stuff
.vscode/
.idea/

# Generated Server Files
server/graph/generated.go
server/graph/model/models_gen.go
frontend/lib/graph/generated