@import 'ember-paper';
@import 'paper-data-table';
@import 'font';
@import 'color-math';
$primary: $color-mathphys;
$accent: $color-secondary;
@import 'ember-paper';
@import 'menu';
$warn: 'pink';
@import "ember-paper-expansion-panel";


md-tabs.md-default-theme .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-active, md-tabs .md-tab.md-active md-icon, md-tabs .md-tab.md-focused, md-tabs .md-tab.md-focused md-icon{
  color: #{map-get($accent, 'A200')};
}

md-tabs.md-default-theme .md-tab, md-tabs .md-tab{
    color: #{map-get($accent, '100')};
}

.md-warn{
  color: #f44336;
}

.space-around{
  justify-content: space-around;
}

md-chips{
  width: 100%
}

md-input-container{
  width: 100%;
}

body > [class="ember-view"] {
  max-width: 100%;
}

.menu-item {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;

    .expand-icon {
      position: relative;
      right: -36px;
      transition: transform 250ms linear;
    }

    &.expanded .expand-icon {
      transform: rotate(-180deg);
    }
  }

  .menu-item, .submenu-item {
    min-height: 40px;
    &.active, &:hover {
      background-color: #{map-get($accent, 'A400')};
    }
}

body {
  fill: currentColor;
}
svg {
  fill: currentColor;
}


/**
 * Needed styles to set correct widths.
 */

body {
  max-width: 100%;
  max-height: 100%;
}

body.ember-application {
  overflow-x: auto;
  flex-direction: row;
  flex: 1;
  display: flex;
}

body > div.ember-view {
  flex-direction: row;
  flex: 1;
  display: flex;
}

.site-nav-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.site-nav-icon {
  margin-left: 0;
  margin-right: 32px;
}

.inner-sidenav {
  position: relative;
}

md-autocomplete{
  min-width: 5px;
}


md-content{
  width: 100%;
}

.vertical-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 10px;
}

.md-button.md-icon-button{
  margin: auto;
}


.overflow-x-hidden{
  overflow-x: hidden;
}
.overflow-y-scroll{
  overflow-y: auto;
}
 .z1{
   z-index: 1;
 }
 .md-input-login-container{
 display: inline-block;
   position: relative;
   padding: 2px;
   margin: 0px;
   vertical-align: middle;
 }

 #tear{
   -we21ebkit-animation: falling 5s infinite; /* Safari 4.0 - 8.0 */
     animation: falling 5s infinite;
 }

 @-webkit-keyframes falling {
     0%   {top: 0px;}
     25%  {top: 9px;}
     75%  {top: 79px}
     100% {top: 120px;}
 }

 @keyframes falling {
   0%   {top: 0px;}
   25%  {top: 9px;}
   75%  {top: 79px}
   100% {top: 120px;}
 }

 /** Style for archived courses */
 .archived > td {
   color: gray !important;
   text-decoration: line-through !important;
 }