// For use in app/styles/color-palette.scss
$light-contrast-color:rgba(255, 255, 255, 0.87);
$color-mathphys: (
    '50' : #f3e0e0,
    '100' : #e0b3b3,
    '200' : #cc8080,
    '300' : #b84d4d,
    '400' : #a82626,
    '500' : #990000,
    '600' : #910000,
    '700' : #860000,
    '800' : #7c0000,
    '900' : #6b0000,
    'A100' : #ff9a9a,
    'A200' : #ff6767,
    'A400' : #ff3434,
    'A700' : #ff1a1a,
    'contrastDefaultColor': $light-contrast-color,
    'contrastDarkColors': ('50', '100', '200', 'A100', 'A200'),
    'contrastStrongLightColors': ('300', '400')

) !default;


$color-secondary: (
'50' : #e9f0f1,
'100' : #c7d9dd,
'200' : #a2c0c7,
'300' : #7da7b0,
'400' : #61949f,
'500' : #45818e,
'600' : #3e7986,
'700' : #366e7b,
'800' : #2e6471,
'900' : #1f515f,
'A100' : #9fe9ff,
'A200' : #6cddff,
'A400' : #39d2ff,
'A700' : #1fccff,
'contrast': #ffffff,
'contrastDefaultColor': $light-contrast-color,
'contrastDarkColors': ('50', '100', '200', 'A100', 'A200'),
'contrastStrongLightColors': ('300', '400')
) !default;
