// For use in app/styles/color-palette.scss
$light-contrast-color:rgba(255, 255, 255, 0.87);
$color-mathphys: (
    '50' : #f3e0e0,
    '100' : #e0b3b3,
    '200' : #cc8080,
    '300' : #b84d4d,
    '400' : #a82626,
    '500' : #990000,
    '600' : #910000,
    '700' : #860000,
    '800' : #7c0000,
    '900' : #6b0000,
    'A100' : #ff9a9a,
    'A200' : #ff6767,
    'A400' : #ff3434,
    'A700' : #ff1a1a,
    'contrastDefaultColor': $light-contrast-color,
    'contrastDarkColors': ('50', '100', '200', 'A100', 'A200'),
    'contrastStrongLightColors': ('300', '400')

) !default;

$color-secondary: (
    '50' : #e6f3eb,
    '100' : #c1e0ce,
    '200' : #97ccae,
    '300' : #6db78d,
    '400' : #4ea774,
    '500' : #2f985c,
    '600' : #2a9054,
    '700' : #23854a,
    '800' : #1d7b41,
    '900' : #126a30,
    'A100' : #a0ffbd,
    'A200' : #6dff99,
    'A400' : #3aff76,
    'A700' : #20ff64,
    'contrastDefaultColor': $light-contrast-color,
    'contrastDarkColors': ('50', '100', '200', 'A100', 'A200'),
    'contrastStrongLightColors': ('300', '400')
) !default;
