<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= @lecturer.salutation %> <%= @lecturer.surname%>,</h3>
    <p>
Ihr Benutzerkennwort bei unserem Kummerkasten wurde zurückgesetzt. Es lautet nun <strong><%= @password %></strong>.
</p>
<p>
Mit freundlichen Grüßen,
</p>
<p>
  Ihre Fachschaft MathPhys
</p>
